<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Biomateriais</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Notas de Biomateriais</h1>
    {% if erro %}
        <p style="color:red;">{{ erro }}</p>
    {% endif %}

    <div class="form-bloco">
    <form method="post">
        <label>Prova 1: <input type="number" step="any" name="Prova 1" required min="0" max="10"></label><br>
        <label>Prova 2: <input type="number" step="any" name="Prova 2" required min="0" max="10"></label><br>
        <label>TBL 1: <input type="number" step="any" name="TBL 1" required min="0" max="10"></label><br>
        <label>TBL 2: <input type="number" step="any" name="TBL 2" required min="0" max="10"></label><br>
        <label>Laboratório: <input type="number" step="any" name="Laboratório" required min="0" max="10"></label><br>
        <label>Engajamento: <input type="number" step="any" name="Engajamento" required min="0" max="10"></label><br>
        <div style="text-align:center;">
            <button type="submit" class="btn">Calcular Média</button>
        </div>
    </form>
    {% if media is defined %}
        <h2>Média final: {{ media|round(2) }}</h2>
    {% endif %}
    </div>
    <a href="{{ url_for('home') }}">Voltar</a>
</body>
</html>